{% extends "base.html" %}

{% block main %}
<div class="container">
    <h1>Stok Listesi</h1>
    <br>
    <table class="table table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">İlaç</th>
                <th scope="col">Adet</th>
                <th scope="col">Kalan</th>
                <th scope="col">Depo</th>
                <th scope="col">Talep?</th>
                <!-- <th scope="col">Eklenme</th> -->
                <th scope="col">Düzenlenme</th>
            </tr>
        </thead>
        {% for stok in object_list %}
        <tbody>
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ stok }}</td>
                <td>{{ stok.adet }}</td>
                <td>{{ stok.kalan }}</td>
                <td>{{ stok.depo|upper }}</td>
                <td><a href="{% url 'stoklar:sepet-ekle' stok.pk %}"><i class="material-icons" style="color:blue">shopping_cart</i></a></td>
                <!-- <td>{{ takas.eklenme }}</td> -->
                <td>{{ stok.duzenlenme }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

{% endblock %}